<div class="p-3 mb-2 bg-primary text-white">掲示板一覧</div>

<div class="container">
    <div class="row">
        <div class="col-lg-7">
            <% @boards.each do |board| %>
                <%= link_to public_board_path(board) do %>
                    ・<%= board.title %>
                <% end %>
            <% end %>
        </div>
        
        <div class="col-lg-3 offset-lg-2">
            <% if user_signed_in? %>
                <%= link_to '掲示板新規作成はこちら', new_public_board_path, class: 'btn btn-outline-danger' %>
                <br>
            <% else %>
                <p class="text-center">
                    掲示板新規作成には会員登録が必要です。<br>
                    会員登録は<%= link_to 'こちら', new_user_registration_path %><br>
                    既に会員登録済みの方は<%= link_to 'こちら', new_user_session_path %>
                </p>
            <% end %>
            <!-- 検索画面に戻るボタンを設置する -->
        </div>
    </div>
</div>


