<div class="container">
    <div class="row">
        <div class="col-lg-7">
            <h2 class="heading"><%= @board.title %>掲示板</h2>
        
            <%= render 'show', boardthreads: @boardthreads %>
            
        </div>
        
        <div class="col-lg-3 offset-lg-2">
            <% if user_signed_in? %>
            <p class="heading">スレッド新規投稿フォーム</p>
                <%= form_with model: @boardthreads, url: public_boardthreads_path, method: :post do |f| %>
                    <%= f.hidden_field :id, value: @board.id %>

                    <%= f.label :title, "スレッドタイトル" %>
                    <br>
                    <%= f.text_field :title %>
                    <br>
                    <%= f.label :body, "スレッド本文" %>
                    <br>
                    <%= f.text_area :body %>
                    <br>
                    <div class="form-group">
                        <label>タグ</label>
                        <br>
                        <%= f.text_field :category, class: 'form_control boardthread_category' %>
                    </div>
                    <br>
                    <%= f.submit '投稿', class: 'btn btn-primary' %>
                <% end %>
            <% else %>
                <p class="text-center">
                    スレッド投稿には会員登録が必要です。<br>
                    会員登録は<%= link_to 'こちら', new_user_registration_path %><br>
                    既に会員登録済みの方は<%= link_to 'こちら', new_user_session_path %>
                </p>
            <% end %>
        </div>
    </div>
</div>