<strong><%= @board.title %>掲示板</strong>

<div class="container">
    <div class="row">
        <div class="col-lg-7">
            <table class="table">
                <thead>
                    <tr>
                        <th>タイトル</th>
                        <th>本文</th>
                    </tr>
                </thead>
                
                <% @board.boardthreads.each do |boardthread| %>
                
                <tbody>
                    <tr>
                        <th>
                            <%= link_to public_boardthread_path(boardthread) do %>
                                <%= boardthread.title %>
                            <% end %>
                        </th>
                        <th>
                            <%= boardthread.body %>
                        </th>
                    </tr>
                </tbody>
                
                <% end %>
            </table>
            
        </div>
        
        <div class="col-lg-3 offset-lg-2">
            <p>スレッド新規投稿フォーム</p>
                <%= form_with model: @boardthreads, url: public_boardthreads_path, method: :post do |f| %>
                    <%= f.hidden_field :id, value: @board.id %>

                    <%= f.label :title, "スレッドタイトル" %>
                    <br>
                    <%= f.text_field :title %>
                    <br>
                    <%= f.label :body, "スレッド本文" %>
                    <br>
                    <%= f.text_area :body %>
                    <br>
                    <%= f.submit '投稿', class: 'btn btn-primary' %>
                <% end %>
        </div>
    </div>
</div>