<div class="container">
    <div class="row">
        <div class="col-lg-8 offset-lg-2">
            <h2>スレッド詳細</h2>
                <table class="table">
                    <thead>
                        <tr>
                            <th>タイトル</th>
                            <td><%= @boardthread.title %></td>
                        </tr>
                    </thead>
                    
                    <tbody>
                        <tr>
                            <th>本文</th>
                            <td><%= @boardthread.body %></td>
                            <td><p class="sentiment-score">本文の感情分析スコア[<%= @boardthread.score %>]</p></td>
                        </tr>
                        <% if @boardthread.category.present? %>
                            <tr>
                                <td>
                                    <i class="fa-sharp fa-solid fa-tag"></i>
                                    <%= link_to @boardthread.category, public_tagsearches_search_path(content:@boardthread.category) %>
                                </td>
                            </tr>
                        <% end %>
                    </tbody>
                </table>
                
                <% if @boardthread.user == current_user %>
                <table class="table">
                    <tr>
                        <td><%= link_to '編集', edit_public_boardthread_path(@boardthread), class: 'btn btn-success btn-sm' %></td>
                        <td><%= link_to '削除', public_boardthread_path(@boardthread), method: :delete, class: 'btn btn-danger btn-sm' %></td>
                    </tr>
                </table>
                <% end %>
                
                <% if user_signed_in? %>
                    <tr>
                        <td>
                            <div id="favorite_btn_boardthread_<%= @boardthread.id %>">
                                <%= render "public/favorites/btn_boardthread", boardthread: @boardthread %>
                            </div>
                        </td>
                        <td>
                            <div id="bookmark_btn_boardthread_<%= @boardthread.id %>">
                                <%= render "public/bookmarks/btn_boardthread", boardthread: @boardthread %>
                            </div>                        
                        </td>
                    </tr>
                        
                    <table class="table">
                        <tr>
                            <th>コメント件数：<%= @boardthread.post_comments.count %></th>
                        </tr>
                
                        <% @boardthread.post_comments.each do |post_comment| %>
                            <tr>
                                <td>
                                    <%= image_tag post_comment.user.get_profile_image(50,50) %>
                                    <br>
                                    <%= post_comment.user.name %>
                                </td>
                                <td>
                                    <%= post_comment.comment %>
                                </td>
                                <td>
                                    <%= post_comment.created_at.strftime('%Y/%m/%d') %>
                                </td>
                            </tr>
                            
                            <% if post_comment.user == current_user %>
                                <tr>
                                    <td><%= link_to '削除', public_boardthread_post_comment_path(@boardthread, post_comment), method: :delete, class: 'btn btn-danger btn-sm' %></td>
                                </tr>
                            <% end %>
                    
                        <% end %>
                
                </table>
                
                <%= form_with model: [:public, @boardthread, @post_comment] do |f| %>
                    <div>
                        <%= f.text_area :comment, rows: '5', placeholder: "コメントをここに" %>
                        <%= f.submit "送信する" %>
                    </div>
                <% end %>

            <% else %>
                <p class="text-center">
                    いいね、コメント投稿するには会員登録が必要です。<br>
                    会員登録は<%= link_to 'こちら', new_user_registration_path %><br>
                    既に会員登録済みの方は<%= link_to 'こちら', new_user_session_path %>
                </p>
            <% end %>
            
        </div>
    </div>
</div>