<h2>レビュー一覧</h2>
<div>
    <%= link_to '新しい順', public_reviews_path(latest: "true") %> | <%= link_to '古い順', public_reviews_path(old: "true") %>
</div>

<div class="container">
    <div class="row">
        <div class="col-lg-7">
            <%= render 'index', reviews: @reviews %>
        </div>
        
        <div class="col-lg-4 offset-lg-1">
            <%= form_with model: @review, url: public_reviews_path, method: :post, local: true do |f| %>
                <% if user_signed_in? %>
                    <div class="form-group">
                        <%= f.label :game_title, "ゲームタイトル" %>
                        <%= f.collection_select :game_title, Review.all, :id, :game_title, :prompt => "--選択してください--" %>
                    </div>
                    <br>
                    <%= f.label :title, "タイトル" %>
                    <br>
                    <%= f.text_field :title %>
                    <br>
                    <%= f.label :body, "本文" %>
                    <br>
                    <%= f.text_area :body %>
                    <br>
            
                    <div class="form-group">
                        <%= f.label :name, "ジャンル" %>
                        <%= f.collection_select :genre_id, Genre.all, :id, :name, :prompt => "--選択してください--" %>
                    </div>
                    
                    <% if @review.id.nil? %>
                        <div class="form-group" id="star">
                            <%= f.label :star %>
                            <%= f.hidden_field :star, id: :review_star, class: 'form-control' %>
                            <div id="post_raty"></div>
                        </div>

                        <script>
                            $(document).on('turbolinks:load', function() {
                            let elem = document.querySelector('#post_raty');
                            if (elem == null) return;
  
                            elem.innerHTML = ""
                            let opt = {  
                                starOn: "<%= asset_path('star-on.png') %>",
                                starOff: "<%= asset_path('star-off.png') %>",
                                starHalf: "<%= asset_path('star-half.png') %>",
                                scoreName: 'review[star]',
                            };
                            raty(elem, opt);
                            });
                        </script>
                        
                    <% else %>
                        <div class="form-group">
                            <%= render "static_rate", render: render %>
                        </div>
  
                    <% end %>
            
                    <%= f.submit '新規投稿', class: 'btn btn-primary' %>
                    
                <% else %>
                    <p class="text-center">
                        レビュー投稿には会員登録が必要です。<br>
                        会員登録は<%= link_to 'こちら', new_user_registration_path %><br>
                        既に会員登録済みの方は<%= link_to 'こちら', new_user_session_path %>
                    </p>
                <% end %>
            <% end %>
            
            <p>ゲームタイトルが選択欄に存在しない場合、以下から登録してください</p>
            <%= form_with model: @review, url: gametitlenew_public_reviews_path, method: :post, local: true do |f| %>
                <%= f.label :game_title, "登録するゲームタイトル" %>
                <%= f.text_field :game_title %>
                <%= f.submit '新規登録', class: 'btn btn-primary' %>
            <% end %>
        </div>
            
        <!-- 検索画面に戻るというボタンと遷移先を設定すること -->
        
    </div>
</div>
