レビュー一覧

<div class="container">
    <div class="row">
        <div class="col-lg-8">
            <!--span class="border border-danger border-4"</span> -->
            <% @reviews.each do |review| %>
                <strong>レビュータイトル</strong>
                <br>
                <%= link_to public_review_path(review) do %>
                    <%= review.title %>
                <% end %>
                <br>
                <strong>レビュー本文</strong>
                <br>
                <%= review.body %>
                <br>
                <strong>ユーザー名</strong>
                <%= review.user.name %>
                <br>
            <% end %>
        </div>
        
        <%= form_with model: @review, url: public_reviews_path, method: :post, local: true do |f| %>
            <div class="col-lg-4">
                <% if user_signed_in? %>
                    <%= f.label :title, "タイトル" %>
                    <br>
                    <%= f.text_field :title %>
                    <br>
                    <%= f.label :body, "本文" %>
                    <br>
                    <%= f.text_area :body %>
                    <br>
            
                    <div class="form-group">
                        <%= f.label :name, "ジャンル" %>
                        <%= f.collection_select :genre_id, Genre.all, :id, :name, :prompt => "--選択してください--" %>
                    </div>
            
                    <%= f.submit '新規投稿', class: 'btn btn-primary' %>
                <% else %>
                    <p class="text-center">
                        レビュー投稿には会員登録が必要です。<br>
                        会員登録は<%= link_to 'こちら', new_user_registration_path %><br>
                        既に会員登録済みの方は<%= link_to 'こちら', new_user_session_path %>
                    </p>
                <% end %>                
            </div>
        <% end %>
        
        <!-- 検索画面に戻るというボタンと遷移先を設定すること -->
        
    </div>
</div>
