<div class="container">
    <div class="row">
        <div class="col-lg-8 offset-lg-2">
            <h2>レビュー詳細</h2>
            <table class="table">
                <tr>
                    <th><strong>タイトル</strong></th>
                    <td><%= @review.title %></td>
                </tr>
                <tr>
                    <th><strong>本文</strong></th>
                    <td><%= @review.body %></td>
                </tr>
                <tr>
                    <th><strong>ジャンル</strong></th>
                    <td><%= @review.genre.name %></td>
                </tr>
            </table>
            
            <% if @review.user == current_user %>
            <table class="table">
                <tr>
                    <td><%= link_to '編集', edit_public_review_path(@review), class: 'btn btn-success btn-sm' %></td>
                    <td><%= link_to '削除', public_review_path(@review), method: :delete, class: 'btn btn-danger btn-sm' %></td>
                </tr>
            </table>
            <% end %>
            
            <% if user_signed_in? %>
                <div id="favorite_btn_<%= @review.id %>">
                    <%= render "public/favorites/btn", review: @review %>
                </div>
            
                <table class="table">
                    <tr>
                        <th>コメント件数</th>
                        <td><%= @review.post_comments.count %></td>
                    </tr> 
                
                    <% @review.post_comments.each do |post_comment| %>
                        <tr>
                            <td>
                                <%= image_tag post_comment.user.get_profile_image(50,50) %>
                                <%= post_comment.user.name %>
                            </td>
                
                        </tr>
                        <tr>
                            <td><%= post_comment.created_at.strftime('%Y/%m/%d') %><%= post_comment.comment %></td>
                        </tr>
                
                    <% if post_comment.user == current_user %>
                        <tr>
                            <td><%= link_to '削除', public_review_post_comment_path(@review, post_comment), method: :delete, class: 'btn btn-danger btn-sm' %></td>
                        </tr>
                    <% end %>
                
                    <% end %>
                
                </table>

                <%= form_with model: [:public, @review, @post_comment] do |f| %>
                    <div>
                        <%= f.text_area :comment, rows: '5', placeholder: "コメントをここに" %>
                        <%= f.submit "送信する" %>
                    </div>
                <% end %>
            
            <% else %>
                <p class="text-center">
                    いいね、コメント投稿するには会員登録が必要です。<br>
                    会員登録は<%= link_to 'こちら', new_user_registration_path %><br>
                    既に会員登録済みの方は<%= link_to 'こちら', new_user_session_path %>
                </p>
            <% end %>
            
        </div>
    </div>
</div>

