<p>レビュー詳細</p>

<p>タイトル</p>
<%= @review.title %>
<br>
<p>本文</p>
<%= @review.body %>
<br>
<p>ジャンル</p>
<%= @review.genre.name %>
<br>

<div id="favorite_btn_<%= @review.id %>">
  <%= render "public/favorites/btn", review: @review %>
</div>

<div>
    <p>コメント件数：<%= @review.post_comments.count %></p>
    <% @review.post_comments.each do |post_comment| %>
        <p><%= image_tag post_comment.user.get_profile_image(100,100) %></p>
        <%= post_comment.user.name %>
        <%= post_comment.created_at.strftime('%Y/%m/%d') %><%= post_comment.comment %>
    <% end %>
</div>

<div>
    <%= form_with model: [:public, @review, @post_comment] do |f| %>
        <%= f.text_area :comment, rows: '5', placeholder: "コメントをここに" %>
        <%= f.submit "送信する" %>
    <% end %>
</div>