<div class="container">
    <div class="row">
        <div class="col-lg-5 offset-lg-3">
            <h2 class="heading">ユーザー詳細</h2>
                <table class="table table-borderless">
                    <tr>
                        <th>ユーザー名</th>
                        <td><%= @user.name %></td>
                    </tr>
                    <tr>
                        <th>ユーザー画像</th>
                        <td><%= image_tag @user.get_profile_image(100, 100) %></td>
                    </tr>
                    <tr>
                        <td colspan="2">

                            <%= link_to 'ユーザーを削除する', admin_user_path, method: :delete, class: 'btn btn-danger', data: { confirm: "このユーザーを削除します。本当によろしいですか？"} %>
				        </td>
                    </tr>
                </table>
                
                <%= link_to 'ユーザー一覧に戻る', admin_users_path, class: 'btn btn-outline-info' %>
                <%= link_to '管理者メニューに戻る', admin_path, class: 'btn btn-outline-dark' %>
        </div>
    </div>
</div>