<div class="container">
    <div class="row">
        <div class="col-lg-8 offset-lg-2">
            <h2>スレッド詳細</h2>
                <table class="table">
                    <thead>
                        <tr>
                            <th>タイトル</th>
                            <td><%= @boardthread.title %></td>
                        </tr>
                    </thead>
                    
                    <tbody>
                        <tr>
                            <th>本文</th>
                            <td><%= @boardthread.body %></td>
                        </tr>
                        <% if @boardthread.category.present? %>
                            <tr>
                                <td>
                                    <i class="fa-sharp fa-solid fa-tag"></i>
                                    <%= link_to @boardthread.category, public_tagsearches_search_path(content:@boardthread.category) %>
                                </td>
                            </tr>
                        <% end %>
                        
                        <tr>
                            <td><p class="sentiment-score">レビュー内容の感情分析スコア[<%= @boardthread.score %>]</p></td>
                    
                            <% if @boardthread.score.to_f < 0.0 %>
                                <td><%= link_to '削除', admin_boardthread_path(@boardthread), method: :delete, class: 'btn btn-danger btn-sm' %></td>
                            <% end %>
                        </tr>
                    </tbody>
                </table>
                
                <%= link_to '削除', public_boardthread_path(@boardthread), method: :delete, class: 'btn btn-danger btn-sm' %></td>
                
                <table class="table">
                    <tr>
                        <td>いいね：<%= @boardthread.favorites.count %>件</td>
                    </tr>
                    <tr>
                        <th>コメント件数：<%= @boardthread.post_comments.count %></th>
                    </tr>
                
                    <% @boardthread.post_comments.each do |post_comment| %>
                        <tr>
                            <td>
                                <%= image_tag post_comment.user.get_profile_image(50,50) %>
                                <br>
                                <%= post_comment.user.name %>
                            </td>
                            <td>
                                <%= post_comment.comment %>
                            </td>
                            <td>
                                <%= post_comment.created_at.strftime('%Y/%m/%d') %>
                            </td>
                        </tr>
                        <tr>
                            <td><%= link_to '削除', public_boardthread_post_comment_path(@boardthread, post_comment), method: :delete, class: 'btn btn-danger btn-sm' %></td>
                        </tr>
                    <% end %>
                </table>
        </div>
    </div>
</div>