<div class="container">
    <div class="row">
        <div class="col-lg-3">
            <p><h2 class="heading">マイページ</h2></p>
            
                <table class="table table-borderless">
                    <tbody>
                        <tr>
                            <td><p><%= image_tag @user.get_profile_image(250, 250) %></p></td>
                        </tr>
                        <tr>
                            <td align="center"><%= @user.name %></td>
                        </tr>
                    </tbody>
                </table>
                
                <%= link_to public_users_information_edit_path, class:'btn btn-light btn-outline-secondary btn-block' do %>
                    <i class="fa-solid fa-user-cog"></i>
                <% end %>
        </div>
        
        <div class="col-lg-4 offset-lg-1">
            <p class="mypage_favorite_review">お気に入りレビュー</p>
            <br>
            <% if @bookmark_review_list.present? %>
                <% @bookmark_review_list.each do |review| %>
                    <%= link_to public_review_path(review) do %>
                        <%= review.title %>
                    <% end %>
                    <br>
                <% end %>
            <% else %>
                <p>お気に入りレビューはありません</p>
            <% end %>
        </div>
        
        <div class="col-lg-4">
            <p class="mypage_favorite_boardthread">お気に入りスレッド</p>
            <br>
            <% if @bookmark_boardthread_list.present? %>
                <% @bookmark_boardthread_list.each do |boardthread| %>
                    <%= link_to public_boardthread_path(boardthread) do %>
                        <%= boardthread.title %>
                    <% end %>
                    <br>
                <% end %>
            <% else %>
                <p>お気に入りスレッドはありません</p>
            <% end %>
        </div>
    </div>
</div>