<div class="container">
    <div class="row">
        <div class="col-lg-3">
            <p><h1>マイページ</h1></p>
            
                <table class="table">
                    <tbody>
                        <tr>
                            <th>ユーザー名</th>
                            <th><%= @user.name %></th>
                        </tr>
                        <tr>
                            <th>ユーザー画像</th>
                            <th><p><%= image_tag @user.get_profile_image(100, 100) %></p></th>
                        </tr>
                    </tbody>
                </table>
                
                <%= link_to public_users_information_edit_path, class:'btn btn-light btn-outline-secondary btn-block' do %>
                    <i class="fa-solid fa-user-cog"></i>
                <% end %>
        </div>
        
        <div class="col-lg-4 offset-lg-1">
            <strong>お気に入りレビュー</strong>
            <br>
            <% if @bookmark_review_list.present? %>
                <% @bookmark_review_list.each do |review| %>
                    <%= link_to public_review_path(review) do %>
                        <%= review.title %>
                    <% end %>
                    <br>
                <% end %>
            <% else %>
                <p>お気に入りレビューはありません</p>
            <% end %>
        </div>
        
        <div class="col-lg-4">
            <strong>お気に入りスレッド</strong>
            <br>
            <% if @bookmark_boardthread_list.present? %>
                <% @bookmark_boardthread_list.each do |boardthread| %>
                    <%= link_to public_boardthread_path(boardthread) do %>
                        <%= boardthread.title %>
                    <% end %>
                    <br>
                <% end %>
            <% else %>
                <p>お気に入りスレッドはありません</p>
            <% end %>
        </div>
    </div>
</div>